/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

#root {
  min-height: 100vh; /* Asegura que la aplicación ocupe toda la altura de la ventana */
  display: flex;
  flex-direction: column;
}

body {
  line-height: 1.5; /* Mejora la legibilidad del texto */
  -webkit-font-smoothing: antialiased; /* Suaviza las fuentes en navegadores WebKit */
  font-family: sans-serif; /* Puedes especificar tu fuente preferida aquí */
}

html,
body,
p,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
hr,
dl,
dd,
figure,
fieldset,
legend {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

::before,
::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
